index.html
profil.html
* {
        font-family:Georgia, 'Times New Roman', Times, serif ;
        font-size: 18px;
    }
    .information.link {
        background-color: rgb(242, 192, 131);
        color: white;
        font-weight: 600;
        text-align: center;
        outline: 2px solid black;
    }
    .information.pribadi {
        background-color: rgb(249, 249, 249);
        font-weight: 100;
        margin-top: 10px;
    }

/* profil.html */
    .image {
        text-align: center;
        height: auto;
        width: auto;
        padding-bottom: 50px;
    }
    .information {
        border: 2px solid  rgba(240, 157, 23, 0.544);
        padding-left: 20px;
    }
